* {
    margin:0;
    padding:0;
  }

  #img2 {
    max-width: 400px;
    
  }

  div.nombre {
    max-lines: 1;
    inline-size: 20px;
  }

  #columna1 {
    width: 600px;
    color: #fff;
    font: 100 arial;
    margin-left: 20px;
  }

  #columna2 {
    width: 600px;
    color: #fff;
    font: 100 arial;
    margin-left: 20px;
  }

  .subir {
    display: inline-block;
    padding: 20px;
    background:#FE2E2E;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    position: fixed;
    bottom:20px;
    right: 20px;
  }

  body {
    background-image: url(https://raw.githubusercontent.com/javiprada/javiprada.github.io/master/img/F0B.jpg);
    
  }
 
  h2 {
    color: #fff; 
  }

  h4 {
   color: #fff;
  }

  #galeria {
    height: 30px;
  }
  
  article {
    width: 60%;
    height: 83px;
    border-radius: 60px;
    float: left;
  }
  