* {
    margin:0;
    padding:0;
  }

  #img2 {
    max-width: 400px;
    margin-bottom: 0px;
    margin-top: 5%;
  }

  div.nombre {
    max-lines: 1;
    inline-size: 20px;
  }

  .redes_sociales {
    background-color: #7f0000;
  }

  .navegador {
    background-color: #bf0000;
    text-align: left;
  }

  #home {
    margin-bottom: 0px;
    color: #fff;
    font: 100 arial;
    text-align: center;
  }

  .subir {
    display: inline-block;
    padding: 20px;
    background:#ff0000;
    font-size: 20px;
    color:#fff;
    cursor: pointer;
    position: fixed;
    bottom:20px;
    right: 20px;
  }

  body {
    background-image: url(https://raw.githubusercontent.com/javiprada/javiprada.github.io/master/img/F0B.jpg);
    
  }
 
  h2 {
    color: #fff; 
  }

  h3 {
    text-align: center;
  }

  h4 {
    color: #fff;
    text-align: left;
   }

   h5 {
     text-align: left;
   }

  .estrellas {
    background-color: #7f0000;
    text-align: center;

  }


  #galeria {
    color: #fff;
  }
  
  article {
    width: 60%;
    height: 83px;
    border-radius: 60px;
    float: left;
  }
 /*Inicio codepen redes sociales*/
  .social-media {
    
    display: flex;
    margin: 0;
    padding: 0;
  }

  .social-media a .fa {
    font-size: 32px;
    line-height: 64px;
    transition: 0.3s;
  }
  .social-media a:nth-child(1) .fa{
    color: #2f4779;
  }
  .social-media a:nth-child(2) .fa{
    color: #55acee;
  }
  .social-media a:nth-child(3) .fa{
    color: #cd201f;
  }
  .social-media a:nth-child(4) .fa{
    color: #cd201f;
  }
  .social-media a {
    position: relative;
    display: block;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
    box-shadow: 10px 0px 10px #000;
    transition: 0.3s;
  }
  
  .social-media a::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 3px;
    background: rgba(0, 0, 0, 0.2);
    height: 10%;
    width: 100%;
    transform: skewX(-45deg);
    transition: 0.3s;
  }
  .social-media a::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 64px;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 10%;
    transform: skewY(-45deg);
    transition: 0.3s;
  }
  .social-media a:hover {
    transform: translate(-10%, 10%);
    box-shadow: 10px 0px 35px #000;
    transition: 0.3s;
  }
  .social-media a:nth-child(3):hover {
    background: #3b5998;
    transition: 0.3s;
  }
  .social-media a:nth-child(3):hover .fa {
    color: #fff;
    transition: 0.3s;
  }
  .social-media a:nth-child(3):hover::after {
    background: #2f4779;
    transition: 0.3s;
  }
  .social-media a:nth-child(3):hover::before {
    background: #627aac;
    transition: 0.3s;
  }
  .social-media a:nth-child(1):hover {
    background: #55acee;
    transition: 0.3s;
  }
  .social-media a:nth-child(1):hover .fa {
    color: #fff;
    transition: 0.3s;
  }
  .social-media a:nth-child(1):hover::after {
    background: #4489be;
    transition: 0.3s;
  }
  .social-media a:nth-child(1):hover::before {
    background: #76bcf1;
    transition: 0.3s;
  }
  .social-media a:nth-child(2):hover {
    background: #9f00fc;
    transition: 0.3s;
  }
  .social-media a:nth-child(2):hover .fa {
    color: #fff;
    transition: 0.3s;
  }
  .social-media a:nth-child(2):hover::after {
    background: #6800a5;
    transition: 0.3s;
  }
  .social-media a:nth-child(2):hover::before {
    background: #b13bff;
    transition: 0.3s;
  }
  .social-media a:nth-child(4):hover {
    background: #1d1d1d;
    transition: 0.3s;
  }
  .social-media a:nth-child(4):hover .fa {
    color: #fff;
    transition: 0.3s;
  }
  .social-media a:nth-child(4):hover::after {
    background: #000000;
    transition: 0.3s;
  }
  .social-media a:nth-child(4):hover::before {
    background: #303030;
    transition: 0.3s;
  }
  /* Fin codepen redes sociales*/

  /*loader*/
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    top: 50%;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
  /*Fin loader*/